# Alex Kennedy
## Week 13
# python - pandas datafram and series

In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

df = DataFrame(np.arange(16).reshape((4,4)),
    index = [ 'ohio', 'colorado','utah','new york'];
    columns=['ohio','two','three','four'])

df = DataFrame(np.arange(16).reshape((4,4)), index = [ 'ohio', 'colorado','utah','new york']; columns=['ohio','two','three','four'])

In [5]:
df = DataFrame(np.arange(16).reshape((4,4)),
index=['ohio', 'colorado','utah','new york'],
columns=['ohio','two','three','four'])

In [6]:
df

          ohio  two  three  four
ohio         0    1      2     3
colorado     4    5      6     7
utah         8    9     10    11
new york    12   13     14    15

In [7]:
df.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [9]:
df.drop(['colorado','ohio'])

          ohio  two  three  four
utah         8    9     10    11
new york    12   13     14    15

In [11]:
df.drop('two',axis=1)

          ohio  three  four
ohio         0      2     3
colorado     4      6     7
utah         8     10    11
new york    12     14    15

In [12]:
df

          ohio  two  three  four
ohio         0    1      2     3
colorado     4    5      6     7
utah         8    9     10    11
new york    12   13     14    15

In [13]:
df.drop('two',inplace=True, axis='columns')

In [14]:
df

          ohio  three  four
ohio         0      2     3
colorado     4      6     7
utah         8     10    11
new york    12     14    15

In [15]:
df[['one','four']]

KeyError: "['one'] not in index"

In [16]:
df[['one']]

KeyError: "None of [Index(['one'], dtype='object')] are in the [columns]"

In [17]:
df[ df<5]=0
df

          ohio  three  four
ohio         0      0     0
colorado     0      6     7
utah         8     10    11
new york    12     14    15

In [18]:
df.iloc[2]

ohio      8
three    10
four     11
Name: utah, dtype: int32

In [20]:
df.iloc[2,[3,0]]

IndexError: positional indexers are out-of-bounds

In [21]:
df.iloc[2,[3,0,1]]

IndexError: positional indexers are out-of-bounds

In [22]:
df.iloc[[1,2],[3,0,1]]

IndexError: positional indexers are out-of-bounds

In [26]:
df1 = DataFrame(np.arange(9).reshape((3,3)),columns=list('bcd'))

In [28]:
df3=df+df1

In [29]:
df3

           b   c   d  four  ohio  three
0        NaN NaN NaN   NaN   NaN    NaN
1        NaN NaN NaN   NaN   NaN    NaN
2        NaN NaN NaN   NaN   NaN    NaN
colorado NaN NaN NaN   NaN   NaN    NaN
new york NaN NaN NaN   NaN   NaN    NaN
ohio     NaN NaN NaN   NaN   NaN    NaN
utah     NaN NaN NaN   NaN   NaN    NaN

In [31]:
df3.add(df1,fill_value=0)

            b    c    d  four  ohio  three
0         0.0  1.0  2.0   NaN   NaN    NaN
1         3.0  4.0  5.0   NaN   NaN    NaN
2         6.0  7.0  8.0   NaN   NaN    NaN
colorado  NaN  NaN  NaN   NaN   NaN    NaN
new york  NaN  NaN  NaN   NaN   NaN    NaN
ohio      NaN  NaN  NaN   NaN   NaN    NaN
utah      NaN  NaN  NaN   NaN   NaN    NaN

In [32]:
df3.add(df1,fill_value=3)

            b     c     d  four  ohio  three
0         3.0   4.0   5.0   NaN   NaN    NaN
1         6.0   7.0   8.0   NaN   NaN    NaN
2         9.0  10.0  11.0   NaN   NaN    NaN
colorado  NaN   NaN   NaN   NaN   NaN    NaN
new york  NaN   NaN   NaN   NaN   NaN    NaN
ohio      NaN   NaN   NaN   NaN   NaN    NaN
utah      NaN   NaN   NaN   NaN   NaN    NaN

In [33]:
df3.add(df1,fill_value=6)

             b     c     d  four  ohio  three
0          6.0   7.0   8.0   NaN   NaN    NaN
1          9.0  10.0  11.0   NaN   NaN    NaN
2         12.0  13.0  14.0   NaN   NaN    NaN
colorado   NaN   NaN   NaN   NaN   NaN    NaN
new york   NaN   NaN   NaN   NaN   NaN    NaN
ohio       NaN   NaN   NaN   NaN   NaN    NaN
utah       NaN   NaN   NaN   NaN   NaN    NaN

In [34]:
df3.sort_index()

TypeError: '<' not supported between instances of 'str' and 'int'

In [35]:
s=df.iloc[0]

In [36]:
s

ohio     0
three    0
four     0
Name: ohio, dtype: int32

In [37]:
s

ohio     0
three    0
four     0
Name: ohio, dtype: int32

In [38]:
s

ohio     0
three    0
four     0
Name: ohio, dtype: int32

In [39]:
s.datatype

AttributeError: 'Series' object has no attribute 'datatype'

In [40]:
df3.add(df1,fill_value=22)

             b     c     d  four  ohio  three
0         22.0  23.0  24.0   NaN   NaN    NaN
1         25.0  26.0  27.0   NaN   NaN    NaN
2         28.0  29.0  30.0   NaN   NaN    NaN
colorado   NaN   NaN   NaN   NaN   NaN    NaN
new york   NaN   NaN   NaN   NaN   NaN    NaN
ohio       NaN   NaN   NaN   NaN   NaN    NaN
utah       NaN   NaN   NaN   NaN   NaN    NaN

In [41]:
df.idxmax()

ohio     new york
three    new york
four     new york
dtype: object

In [42]:
df.describe()

       ohio      three       four
count   4.0   4.000000   4.000000
mean    5.0   7.500000   8.250000
std     6.0   5.972158   6.396614
min     0.0   0.000000   0.000000
25%     0.0   4.500000   5.250000
50%     4.0   8.000000   9.000000
75%     9.0  11.000000  12.000000
max    12.0  14.000000  15.000000

In [43]:
df.min()

ohio     0
three    0
four     0
dtype: int32

In [44]:
df.max()

ohio     12
three    14
four     15
dtype: int32

In [45]:
df.min(axis=1)

ohio         0
colorado     0
utah         8
new york    12
dtype: int32

In [46]:
df.max(axis=1)

ohio         0
colorado     7
utah        11
new york    15
dtype: int32

In [51]:
df.max(axis=3)

ValueError: No axis named 3 for object type <class 'pandas.core.frame.DataFrame'>

In [52]:
df = DataFrame([[1,2,3,4,],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan]])

In [53]:
df

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  NaN  5.0  6.0  NaN
2  7.0  NaN  9.0  NaN
3  NaN  NaN  NaN  NaN

In [54]:
df.dropna(thresh=2)

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  NaN  5.0  6.0  NaN
2  7.0  NaN  9.0  NaN

In [55]:
df.fillna(0,inplace=True)

In [56]:
df

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  0.0  5.0  6.0  0.0
2  7.0  0.0  9.0  0.0
3  0.0  0.0  0.0  0.0

In [57]:
df['Qul'].value_counts()

KeyError: 'Qul'

In [61]:
rs= df.apply(pd.value_count)

AttributeError: module 'pandas' has no attribute 'value_count'

In [62]:
def meter(x):
    return x/ 3.3808

In [63]:
df ['altitude'] = df['altitude'].apply(meter)

KeyError: 'altitude'

In [64]:
def dif(x):
    return x.max() - x.min()

In [65]:
df.apply(dif)

0    7.0
1    5.0
2    9.0
3    4.0
dtype: float64

In [66]:
df.apply(dif, axis=1)

0    3.0
1    6.0
2    9.0
3    0.0
dtype: float64

In [67]:
df.groupby('k1').size()

KeyError: 'k1'

In [68]:
df.groupby('k1').count()

KeyError: 'k1'