#  Alex Kennedy
## Week 3 - 9/10/20
### Python List Commands

In [1]:
my_list = [50,89,45,100,1234]

In [2]:
MY_LIST

NameError: name 'MY_LIST' is not defined

In [4]:
my_list = [50, 45,90,'Alice', 'Bob']

In [5]:
len(my_list)

5

In [11]:
fruits = ['Apple', 'Banana','Cherry']

In [12]:
fruits

['Apple', 'Banana', 'Cherry']

In [13]:
fruits[-1]

'Cherry'

In [14]:
fruits[0]

'Apple'

In [15]:
my_list[3]

'Alice'

In [16]:
my_list[4]

'Bob'

In [17]:
my_list[1:0]

[]

In [18]:
fruits = ['Apple', 'Banana','Cherry','Kiwi']

In [19]:
fruits [1:3]

['Banana', 'Cherry']

In [20]:
fruits [-3:-1]

['Banana', 'Cherry']

In [21]:
fruits + ['Potato']

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Potato']

In [22]:
fruits = fruits + ['orange']

In [23]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'orange']

In [24]:
fruits + ['Potato']

['Apple', 'Banana', 'Cherry', 'Kiwi', 'orange', 'Potato']

In [26]:
my_list *2

[50, 45, 90, 'Alice', 'Bob', 50, 45, 90, 'Alice', 'Bob']

In [27]:
fruits.append('banananan')

In [28]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'orange', 'banananan']

In [29]:
fruits.pop(0)

'Apple'

In [30]:
fruits

['Banana', 'Cherry', 'Kiwi', 'orange', 'banananan']

In [31]:
fruits.pop(2)

'Kiwi'

In [32]:
fruits

['Banana', 'Cherry', 'orange', 'banananan']

In [34]:
fruits.pop()

'banananan'

In [38]:
len(fruits)

3

In [42]:
ch_list = ('c','s','d','e','a','q')

In [43]:
ch_list.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [44]:
ch_list.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [45]:
list1 = [90,80,70]
list2 = [60,50,40]
list3 = [40,30,20]

In [47]:
nested_list=[list1,list2,list3]

In [48]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [49]:
nested_list[0]

[90, 80, 70]

In [50]:
nested_list[-1]

[40, 30, 20]

In [51]:
nested_list[1][1]

50